<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>ja</string>
    <key>CFBundleDisplayName</key>
    <string>my-ime</string>
    <key>CFBundleExecutable</key>
    <string>my-ime</string>
    <key>CFBundleIconFile</key>
    <string>AppIcon</string>
    <key>CFBundleIdentifier</key>
    <string>io.github.sendarionn.inputmethod.myime</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>my-ime</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>0.1.0</string>
    <key>CFBundleSupportedPlatforms</key>
    <array>
        <string>MacOSX</string>
    </array>
    <key>CFBundleVersion</key>
    <string>11</string>
    <key>ComponentInputModeDict</key>
    <dict>
        <key>TISUnifiedUIForInputMethodEnabling</key>
        <true/>
        <key>tsInputModeListKey</key>
        <dict>
            <key>com.apple.inputmethod.Japanese</key>
            <dict>
                <key>TISInputSourceID</key>
                <string>io.github.sendarionn.inputmethod.myime.Japanese</string>
                <key>TISIntendedLanguage</key>
                <string>ja</string>
                <key>tsInputModeDefaultStateKey</key>
                <true/>
                <key>tsInputModeIsVisibleKey</key>
                <true/>
                <key>tsInputModePrimaryInScriptKey</key>
                <true/>
                <key>tsInputModeScriptKey</key>
                <string>smJapanese</string>
            </dict>
        </dict>
        <key>tsVisibleInputModeOrderedArrayKey</key>
        <array>
            <string>com.apple.inputmethod.Japanese</string>
        </array>
    </dict>
    <key>InputMethodConnectionName</key>
    <string>io.github.sendarionn.inputmethod.myime_Connection</string>
    <key>InputMethodServerControllerClass</key>
    <string>MyIMEInputController</string>
    <key>InputMethodServerDelegateClass</key>
    <string>MyIMEInputController</string>
    <key>TISIconIsTemplate</key>
    <true/>
    <key>LSBackgroundOnly</key>
    <true/>
    <key>LSApplicationCategoryType</key>
    <string>public.app-category.productivity</string>
    <key>LSMinimumSystemVersion</key>
    <string>13.0</string>
    <key>tsInputMethodCharacterRepertoireKey</key>
    <array>
        <string>Hira</string>
        <string>Latn</string>
    </array>
    <key>tsInputMethodIconFileKey</key>
    <string>icon.pdf</string>
</dict>
</plist>
